.wrapper {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	gap: 1rem;

	.textFieldsWrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		& > div {
			flex: 1;
		}

		.swapButton {
			height: var(--IconButton-size, 2.5rem);
			align-self: flex-end;
		}
	}
}
